fieldset {
    border: 1px solid #7583ff;
    border-radius: 8px;
    padding: 20px;
}

legend {
    text-align: center;
}

legend img {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a2a1a1;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.show-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: -5px;
}

.show-password-container input[type="checkbox"] {
    margin-right: 5px;
}